<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список заданий</title>
</head>
<body>
    <h1>Выберите задание</h1>
    <h2>Задание 1 - Создание формы для входа в веб-сайт</h2>
    <button><a href="{% url 'login' %}">Выполнить</a></button>
    <h2>Задание 2 - Калькулятор</h2>
    <button><a href="{% url 'calculate' %}">Выполнить</a></button>
    <h2>Задание 3 - Создание формы для регистрации пользователя в интернет-магазине</h2>
    <button><a href="{% url 'register' %}">Выполнить</a></button>
    <h2>Задание 4 - День программиста</h2>
    <button><a href="{% url 'programmer_day' %}">Выполнить</a></button>
</body>
</html>
